.App {
  text-align: center;
}

ul {
  padding: 0;
}
li {
  list-style-type: none;
  text-align: left;
  padding: 2em;
}

li:nth-of-type(2n + 1) {
  background: #b0b;
}

li span:first-of-type {
  font-weight: 700;
}
