<%- include('partials/_head.ejs') %>

	<section>
		<main>
			<div class="door">
			</div>
		</main>
	</section>
	<section>
			<form action="/login" method="POST">
				<label for="email">Email address:</label>
				<input type="email" name="email" placeholder="Enter your email">
				<label for="password">Password:</label>
				<input type="password" name="password" placeholder="Enter your password">
				<button type="submit">Open the vault!</button>
			</form>
	</section>
	</body>

	</html>